* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.container {
  
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 24px;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 2rem;
}

.logo i{
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: bolder;
  color:#f9faf8;
}

a,
.text {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
a:hover {
  font-size: larger;
}
a:active {
  color: #3882f6;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  margin-right: 1em;
  align-items: center;
}

.section1 {
  display: flex;
  background-color: #1f2937;
  padding: 2em;
  gap: 2em;
}

.section1 p{
  margin-bottom: 1rem;
}

h1 {
  color: #f9faf8;
  font-size: 3.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.text {

  max-width: 600px;
  margin-top: 1rem;
}

.image {

  display: flex;
  justify-content: center;
  width: 500px;
  
}

.image img{
    width:500px;
    height: auto;
}

button {
  background-color: #3882f6;
  padding: 8px 16px;
  border-radius: 8px;
  color: #e5e7eb;
  margin-top: 1em;
  border: none;
}

.section2 {
  display: flex;
  justify-content: center;
  
  background-color: white;
  gap: 2em;
  padding:4em;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  background-color: white;
  padding: 2rem 2rem;
}

.info {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-image img {
    border: #3882f6 solid 3px;
  width: 200px;
  height: 200px;
}

.info-text {
  max-width: 200px;
  margin-top: 1rem;
}

.section3 {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 8em;
}
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
blockquote {
  font-style: italic;
  font-weight: light;
  font-size: 36px;
  color: #1f2937;
}
.reference {
  display: flex;
  justify-content: flex-end;
}

.reference p {
  font-style: italic;
  font-weight: bold;
  margin-right: 3em;
}

.section4{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8em;
}

.call{
    width:900px;
    display: flex;
    align-items: center;
    background-color: #3882f6;
    color:white;
    padding:2em;
    border-radius: 8px;
}

.call-text{
    width:600px;
}
.call-text .section4-title{
  font-size: larger;
  background-color: #3882f6;
  text-align: left;
  padding: 0;
  margin-bottom: .5rem;
}
.button
{
  width:400px;
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.sign-up {
  margin-bottom: 1em;
  background-color: #3882f6;
  border-radius: 8px;
  color: #e5e7eb;
  border: 2px solid #e5e7eb;
  font-weight: bolder;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
height: auto;
background-color: #1f2937;
color: #e5e7eb;
padding-top: 2rem;
padding-bottom: 2rem;
}