* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container {
    border: 2px red solid;
    display:flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 24px;

}
.header {
    display:flex;
    justify-content: space-between;
    background-color:#1F2937 ;
    color:#F9FAF8;
    padding: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 1rem;
}

a , .text {
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

ul {
    display:flex;
    list-style-type: none;
    gap:1rem;
    margin-right:1em;
    align-items: center ;
}

.section1 {
    border: 2px solid red;
    display: flex;
    background-color: #1F2937;
    padding:2em;
    gap:2em;
}

h1{
    color:#F9FAF8;
    font-size: 3.5rem;
    font-weight:bolder;
}

.text {
    border:2px solid red;
    max-width: 600px;
}

.image{
    display: flex;
    justify-content: center;
    width:500px;
    border: 2px solid red;
}
button {
    background-color: #3882F6;;
    padding:.5rem;
    border-radius: 25px;
    color: #E5E7EB;
    margin-top: 1em;
}

.section2 {
    display: flex;
    justify-content: center;
    border: 2px solid red;
    background-color: white;
    gap: 3em;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    padding: 2rem 2rem;

}

.info{
    border: 2px solid red;
    display: flex;
    flex-direction: column;

}

 .info-image img {
    width: 100px;
    height:100px;
}

.info-text {
    max-width: 200px;
}